@tailwind base;
@tailwind components;
@tailwind utilities;

.skeleton-element {
  position: relative;
  overflow: hidden;
  opacity: 0.7;
  animation: skeleton-loading 0.5s linear infinite alternate;
}
.skeleton-element::before {
  @apply z-50 bg-white opacity-50;
  content: "";
  display: block;
  height: 100%;
  width: 50px;
  transform: skew(30deg);
  position: absolute;
  animation: shimmer 1.5s ease infinite;
}

@keyframes skeleton-loading {
  0% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.7);
  }
}
@keyframes shimmer {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 2px;
  height: 4px;
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: rgb(173, 173, 173);
  border-radius: 8px;
}
